* {
    font-family: "PT Sans", sans-serif;
}
.c{
    width: 300px;
    margin: 100px auto;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    
}
.img{
    background-image: url('https://images.pexels.com/photos/2166711/pexels-photo-2166711.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 280px;
    height: 188px;
    margin: 10px auto;

}
span{
    margin-top: 10px;
    margin-left: 20px;
}
.button1{
    border-radius: 10px;
    color: rgb(52, 47, 47);
    background-color: white;
    border: 1px solid black;
}
.card{
    width: 250px;
margin: 25px auto;
}
.button{
    margin: 25px auto;
    width: 80px;
}
.button2{
    border-radius: 10px;
    color: rgb(52, 47, 47);
    background-color: white;
    border: 1px solid black;
    height: 25px;
    width: 100px;
    padding: 5px;
    background-color: rgb(197, 236, 242);
    color: rgb(86, 173, 245);
    border: 0px;
}