.h1{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.h2{
    display: flex;
    width: 89.5vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap: 265px;
}
.left img{
    width: 175px;
    height: 56px;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 10px;
}
li a{
    opacity: 0.9;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
select{
    border: 0px;
}
.right ul li img{
    margin-left: 10px;
    width: 26px;
}